#not-found {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  width: inherit;
  height: inherit;
  .not-found-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    @include horizontal-center-div(80%);
    text-align: center;
    padding: 8% 2em;
    border-radius: 10em;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    letter-spacing: 0.1em;
    h1 {
      padding: 0.2em 0;
      letter-spacing: 0.2em;
      font-size: 10rem;
    }
    h4 {
      margin-bottom: 0.8em;
      font-size: 3rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
}
