$default-width: 100%;
$default-height: 100%; // Set the init font-size to 10px
$default-font-size: 62.5%;
$default-font-family-en: 'Roboto', sans-serif;

@mixin horizontal-center-div($width: 100%) {
  width: $width;
  margin: 0 auto;
}
