// Import General SASS
@import './variable';
@import './animation';
@import './reset'; // This is reset

// Import Views SASS
@import '../../views//Home/home';
@import '../../views//NotFound/notFound';

// Import Components SASS
@import '../../components/Loading/loading';
@import '../../components/ChangeLanguage/changeLanguage';

html,
body,
#root {
  width: $default-width;
  height: $default-height;
  font-size: $default-font-size;
  font-family: $default-font-family-en;
  overflow-x: hidden;
  overflow-y: auto;
}
